@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400&display=swap');

/* NAV BAR STYLING */

header {
    text-align: left;
    /* position: fixed; */
    position: relative;
    width: 100%;
    margin-top: 20px;
    z-index: 999;
}

.logo {
    margin: 4px;
    margin-left: 30px;
    width: 90px;
    height: auto;
}

/* no checkbox needed for the toggle */
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute; 
    top: 0;
    right: 0;
    margin-right: 2em;
    height: 100%;
    display: flex;
    align-items: center;
}

/* make the hamburger */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #57A574;
    height: 2px;
    width: 1.2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 5px;
}

.nav-toggle-label span::after {
    top: 5px;
}
/* ------------------ */

nav {
    width: 100%;
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 200ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-right: 2em;
}

nav a {
    font-family: 'Lato', sans-serif;
    color: #7E7E7E;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 275ms ease-in-out;
}

nav a:hover {
    color: #1A1A1A;
}

/* if the toggle is checked, look for nav sibling */
.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

/* only have transition on open*/
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

nav .current {
    color: #191919;
    padding-bottom: 2px;
    border-bottom: 3px solid #57A574 ;
}

/* nav bar appears without hamburger for larger screens */
@media screen and (min-width: 780px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: .25fr auto minmax(600px, 6fr) .5fr;
    }
    .logo {
        grid-column: 2 / span 1;
    }
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        margin-left: 150px;
        justify-content: center;
        align-items: center;
    }
    nav ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    nav li {
        margin-bottom: 0;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    /* add lines on hover */
    nav a::before {
        content: '';
        display: block;
        height: 3px;
        background: #57A574;
        position: absolute;
        bottom: -.4em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 300ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}
/* END NAV BAR STYLING */

/* GENERAL STYLING */
p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.content-container {
    display: flex;
    color: #222924;
    padding-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-title {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}

/* do the underline for the title
   modified from https://www.steckinsights.com/shorten-length-border-bottom-pure-css/ */
.content-title:after {
    content: ""; 
    display: block;
    width: 315px; 
    padding-top: 2px; 
    border-bottom: 3px solid #57A574; 
}
/* END GENERAL STYLING */

/* HOME PAGE STYLING */
.typing-container {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typing-container p {
    font-family: 'Playfair Display', serif;
    color: #222924;
    font-size: 48px;
    text-align: center;
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #57A574;
    margin-left: 5px;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    50% { background-color: transparent; }
}
/* END HOME PAGE STYLING */

/* ABOUT PAGE STYLING */
.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding-left: 70px; 
    margin-top: 30px;
}

.content-text {
    max-width: 40%;
    line-height: 23px;
}

/* put picture over text for smaller screens */
@media screen and (max-width: 800px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }
    .content-text {
        max-width: 80%;
    }
    .profile-pic {
        margin-top: 0px;
    }
}
/* END ABOUT PAGE STYLING */