/* this styling took an absolutely absurd amount of time */
/* so please appreciate it! :) */

body {
    height: 100%;
    margin: 0;
}
#all-container {
    min-height: 100vh;
    display: flex;
}

#img-container {
    flex: 1;
    min-height: 100%;
}

#text-container {
    flex: 1;
    min-height: 100%;
    margin-top: 100px;
}

#img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#name {
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px 0px 0px 60px;
    color: #141712;
}

#subheading {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 500;
    padding: 5px 0px 0px 60px;
    color: #141712;
}

#contact {
    padding: 10px 0px 0px 60px;
}

#description {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 14px;
    line-height: 1.75;
    letter-spacing: .3px;
    /* top right bottom left*/
    padding: 15px 60px 0px 60px;
    color: #141712;
}

.fa {
    padding-right: 10px;
    color: #141712;
}

.fa:hover {
    color: #719357;
}

h1, h4 {
    margin: 0px;
    padding: 0px;
}

/* for tablets */
@media (max-width: 900px) {
    #img-container {
        display: none;
    }
    #text-container {
        width: 100%;
    }
}

/* for smartphone portriat */
@media only screen and (max-width : 375px) {
    #img-container {
        display: none;
    }
    #text-container {
        width: 100%;
    }
}
